<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arc.com.arctrails">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--
            Added this meta-data to call the gradle scripts I added. I followed a turorial online to do so. Feel free
            to comment out the below section and try to run the code without it if it doesn't work for you.
            -Caleigh
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".TrailDataActivity"
            android:label="@string/title_activity_trail_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewTrailActivity"
            android:label="@string/title_activity_new_trail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service
            android:name=".Tracking"
            android:exported="false"/>

        <activity android:name=".Database">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".LocalFileActivity"
            android:label="@string/title_activity_local_file"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arc.com.arctrails.MenuActivity" />
        </activity>
        <activity
            android:name=".DatabaseFileActivity"
            android:label="@string/title_activity_database_file"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arc.com.arctrails.MenuActivity" />
        </activity>
        <activity
            android:name=".RecordingActivity"
            android:label="@string/title_activity_recording"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arc.com.arctrails.MenuActivity" />
        </activity>
    </application>

</manifest>